#main-wrapper
{
    padding: 0;
}

#step_tabs
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#step_tabs li a::before
{
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    top: -1.3rem;
    left: calc(50% - 1.1rem);
    z-index: 2;
    background-color: black;

    display: flex;
    justify-content: center;
    color: white;
}

#step_tabs li.active a::before
{
    background-color: #18BC9C;
}

#step_tabs li a:hover
{
    background-color: white;
}


#step_tabs li a
{
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;

}

#step_tabs li.active a
{
    color: #18BC9C;
}

#step_tabs li:nth-child(1) a::before { content: "1";}
#step_tabs li:nth-child(2) a::before { content: "2";}
#step_tabs li:nth-child(3) a::before { content: "3";}
#step_tabs li:nth-child(4) a::before { content: "4";}
#step_tabs li:nth-child(5) a::before { content: "5";}
#step_tabs li:nth-child(6) a::before { content: "6";}


/* ************************************************************************ */

#next_btn
{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}